<article class="archive-article">
    <div class="archive-article-inner">
      <header class="archive-article-header">
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY/ M / D'}) %>
        <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      </header>
    </div>
</article>
