doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/editormd.css')
    link(rel='stylesheet' href='stylesheets/editormd-style.css')
    link(rel='shortcut icon' href='https://pandao.github.io/editor.md/favicon.ico' type='image/x-icon')
  body
    block content
